@keyframes gradientButton {

  0% {
    background: linear-gradient(0deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  1% {
    background: linear-gradient(4deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  2% {
    background: linear-gradient(7deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  3% {
    background: linear-gradient(11deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  4% {
    background: linear-gradient(14deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  5% {
    background: linear-gradient(18deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  6% {
    background: linear-gradient(22deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  7% {
    background: linear-gradient(25deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  8% {
    background: linear-gradient(29deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  9% {
    background: linear-gradient(32deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  10% {
    background: linear-gradient(36deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  11% {
    background: linear-gradient(40deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  12% {
    background: linear-gradient(43deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  13% {
    background: linear-gradient(47deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  14% {
    background: linear-gradient(50deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  15% {
    background: linear-gradient(54deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  16% {
    background: linear-gradient(58deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  17% {
    background: linear-gradient(61deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  18% {
    background: linear-gradient(65deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  19% {
    background: linear-gradient(68deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  20% {
    background: linear-gradient(72deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  21% {
    background: linear-gradient(76deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  22% {
    background: linear-gradient(79deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  23% {
    background: linear-gradient(83deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  24% {
    background: linear-gradient(86deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  25% {
    background: linear-gradient(90deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  26% {
    background: linear-gradient(94deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  27% {
    background: linear-gradient(97deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  28% {
    background: linear-gradient(101deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  29% {
    background: linear-gradient(104deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  30% {
    background: linear-gradient(108deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  31% {
    background: linear-gradient(112deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  32% {
    background: linear-gradient(115deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  33% {
    background: linear-gradient(119deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  34% {
    background: linear-gradient(122deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  35% {
    background: linear-gradient(126deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  36% {
    background: linear-gradient(130deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  37% {
    background: linear-gradient(133deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  38% {
    background: linear-gradient(137deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  39% {
    background: linear-gradient(140deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  40% {
    background: linear-gradient(144deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  41% {
    background: linear-gradient(148deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  42% {
    background: linear-gradient(151deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  43% {
    background: linear-gradient(155deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  44% {
    background: linear-gradient(158deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  45% {
    background: linear-gradient(162deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  46% {
    background: linear-gradient(166deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  47% {
    background: linear-gradient(169deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  48% {
    background: linear-gradient(173deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  49% {
    background: linear-gradient(176deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  50% {
    background: linear-gradient(180deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  51% {
    background: linear-gradient(184deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  52% {
    background: linear-gradient(187deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  53% {
    background: linear-gradient(191deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  54% {
    background: linear-gradient(194deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  55% {
    background: linear-gradient(198deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  56% {
    background: linear-gradient(202deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  57% {
    background: linear-gradient(205deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  58% {
    background: linear-gradient(209deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  59% {
    background: linear-gradient(212deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  60% {
    background: linear-gradient(216deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  61% {
    background: linear-gradient(220deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  62% {
    background: linear-gradient(223deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  63% {
    background: linear-gradient(227deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  64% {
    background: linear-gradient(230deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  65% {
    background: linear-gradient(234deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  66% {
    background: linear-gradient(238deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  67% {
    background: linear-gradient(241deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  68% {
    background: linear-gradient(245deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  69% {
    background: linear-gradient(248deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  70% {
    background: linear-gradient(252deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  71% {
    background: linear-gradient(256deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  72% {
    background: linear-gradient(259deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  73% {
    background: linear-gradient(263deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  74% {
    background: linear-gradient(266deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  75% {
    background: linear-gradient(270deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  76% {
    background: linear-gradient(274deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  77% {
    background: linear-gradient(277deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  78% {
    background: linear-gradient(281deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  79% {
    background: linear-gradient(284deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  80% {
    background: linear-gradient(288deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  81% {
    background: linear-gradient(292deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  82% {
    background: linear-gradient(295deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  83% {
    background: linear-gradient(299deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  84% {
    background: linear-gradient(302deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  85% {
    background: linear-gradient(306deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  86% {
    background: linear-gradient(310deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  87% {
    background: linear-gradient(313deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  88% {
    background: linear-gradient(317deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  89% {
    background: linear-gradient(320deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  90% {
    background: linear-gradient(324deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  91% {
    background: linear-gradient(328deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  92% {
    background: linear-gradient(331deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  93% {
    background: linear-gradient(335deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  94% {
    background: linear-gradient(338deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  95% {
    background: linear-gradient(342deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  96% {
    background: linear-gradient(346deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  97% {
    background: linear-gradient(349deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  98% {
    background: linear-gradient(353deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  99% {
    background: linear-gradient(356deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }

  100% {
    background: linear-gradient(360deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }
}