.curveSolution {
  position: relative;
  background-image: url("./images/image-hero-landscape.webp");

  &::after {
    content: '';
    position: absolute;
    top: progressiveClamp(-8, -21);
    left: 0;
    width: 100%;
    height: progressiveClamp(17, 36);
    background-image: url("../../images/pattern-curved-line-1.svg");
    transform: translateY(-100%);
    z-index: 50;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}