.solution__texts {
  grid-area: texts;
  z-index: 5;

  @media (min-width: $breakpoint-mobile) {
    margin-top: progressiveClamp(88, 103);
  }

  @media (min-width: $breakpoint-tablet) {}

}

.solution__title {

  font-size: progressiveClamp(38, 72);
  line-height: progressiveClamp(44, 78);
  letter-spacing: progressiveClamp(-0.53, -1);
  max-width: 17ch;

  span {
    font-weight: bold;
  }

}

.solution__paragraph {
  max-width: 34ch;
  margin: rem(40) 0 rem(52);
  font-size: progressiveClamp(16, 18, 768);
  line-height: progressiveClamp(28, 32, 768);

}

.solution__button {
  height: rem(61);
  width: rem(256);

  background: $darkBlue;
  color: $creamWhite;
  font-size: rem(18);
  letter-spacing: rem(-0.18);
  line-height: rem(32);
  transition: color 5s;

  &:hover, &:focus-visible {
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
    animation: gradientButton 4s infinite linear;

  }
}