body {
  background-image: $creamWhite;

  font-family: 'Epilogue', sans-serif;
}

body > * {

  $padding: progressiveClamp(16, 40, 375, 769);
  padding-left: $padding;
  padding-right: $padding;
  

  @media (min-width: 769px) {
    $padding: progressiveClamp(40, 165, $_breakpoint-tablet);
    padding-left: $padding;
    padding-right: $padding; 
  }

  @media (min-width: 1440px) {
    $padding: progressive(165, 166, $_breakpoint-desktop, $_breakpoint-desktop + 2);
    padding-left: $padding;
    padding-right: $padding; 
  }

  
}