body {
  background-color: $creamWhite;
  font-family: 'Epilogue', sans-serif;
}

body > * {

  $padding: progressiveClamp(16, 40, 375, 769);
  padding-left: $padding;
  padding-right: $padding;
  

  @media (min-width: 769px) {
    $padding: progressiveClamp(40, 158, 769);
    padding-left: $padding;
    padding-right: $padding; 
  }

  @media (min-width: 1440px) {
    $padding: progressive(158, 159, 1440, 1442);
    padding-left: $padding;
    padding-right: $padding; 
  }

  
}